{% extends "base.html" %}

{% block title %}
  Предварительные заявки
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/preorder/order_template.css">
{% endblock %}

{% block imgs %}
{% endblock %}

{% block content %}
  <main class="d-flex flex-column align-items-center justify-content-center pt-2" >
      <div style="width: 400px;">
          <div class="shadow-lg rounded mx-auto px-3 py-4 " id="display-anim" style="visibility: hidden;">
              <div class="" >
                  <a href="#" class="nav-item nav-link link-info text-white d-flex justify-content-center align-items-center flex-column" onclick="alert('Модуль для вычисления остаточного срока годности товара')">
                      <i class="bi bi-card-text" style="font-size: 36px; color: #0dcaf0;"></i>
                      <p class="fs-3 mb-0">Предварительные заявки</p>
                  </a>
              </div>
              <hr>
              <form action="/getpreorders" method="GET" id="preorder_form">
                  <div class="form-floating">
                      <input class="form-control text-white align-items-center" type="date" id="order_date" name="search_date" placeholder="ДД.ММ.ГГГГ" required style="background-color: #34373a99; border-color: #dee2e678;">
                      <label class="text-white" for="order_date">Дата оформления: </label>
                  </div>
                  <div class="form-floating d-flex flex-column justify-content-center">
                    <button class="btn btn-info mt-3" type="submit" id="preorder_submit" value="btn_submit">Найти</button>
                    <input type="reset" onclick="resetPage()" class="btn btn-secondary mt-3">
                  </div>
                  <br>
                  <br>
                </div>
              </form>
                


                  
          </div>
      </div>
      <div id="search-info-container" class="p-2"></div>
      {% include 'preorders/order_template.html' %} 

  </main>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/preorders/checkboxes.js" defer></script>
<script src="/static/scripts/preorders/search.js" defer></script>
{% endblock %}