@keyframes colorwave {
  0% { color: rgb(0, 180, 0); } /* Start position */
  10% { color: rgb(0, 160, 0); }
  20% { color: rgb(0, 140, 0); }
  30% { color: rgb(0, 120, 0); }
  40% { color: rgb(0, 100, 0); }
  50% { color: rgb(0, 80, 0); }
  60% { color: rgb(0, 100, 0); }
  70% { color: rgb(0, 120, 0); }
  80% { color: rgb(0, 140, 0); }
  90% { color: rgb(0, 160, 0); }
  100% { color: rgb(0, 180, 0); }

}
a:link {
    background-color: transparent;
    text-decoration: none;
    animation-name: colorwave;
    animation-duration: 2s; /* Duration of one cycle */
    animation-iteration-count: infinite; /* Repeat forever */
    animation-timing-function: ease-in-out; /* Smooth acceleration/deceleration */
}

a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 80, 0);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}



