<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
  <title>Меню</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> 
  <link href="../static/style/style.css" rel="stylesheet">

<!-- icons -->
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="house-fill" viewBox="0 0 16 16">
      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
      <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
    </symbol>
    <symbol id="calculator" viewBox="0 0 16 16">
      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5m0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5z"/>
    </symbol>
    <symbol id="cert-fill" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
    </symbol>
  </svg>
</head>

<body class="bg-dark text-white">
  <header id="header" >
    {% include 'header.html' %}
  </header>
  <main class="d-flex justify-content-center flex-column align-items-center" >
    <div  style="width: 400px;">
      <div class="shadow-lg rounded mx-auto px-3 py-4" id="display-anim" style="visibility: hidden; ">
        <div class="d-flex flex-column justify-content-center align-items-center ">
        <a href="#" class="nav-item fs-2 text-white nav-link link-info d-flex flex-column justify-content-center align-items-center" onclick="alert('Главное меню. Модули на разработке.')">
          <svg class="" width="36" height="36" >
            <use xlink:href="#house-fill" style="pointer-events: none; fill: #0dcaf0;">
          </svg>Меню
        </a>
      </div>
      <hr>
        <ul class="nav nav-pills flex-column mb-auto justify-content-start align-items-start">
        <li class="nav-item">
          <a href="expdatecalc" class="fs-5 text-white nav-link link-info d-flex justify-content-center align-items-center" aria-current="page">
            <svg class="me-1" width="20" height="20"><use xlink:href="#calculator" style="pointer-events: none; fill: #0dcaf0;"></svg>
            Калькулятор ОСГ
          </a>
        </li>
        <li class="nav-item">
        <a href="coa" class="nav-link link-info text-white fs-5 d-flex justify-content-center align-items-center" aria-current="page">
            <svg class="me-1" width="20" height="20"><use xlink:href="#cert-fill" style="pointer-events: none; fill: #0dcaf0;"></svg>
            Сертификаты на товар
          </a>
        </li>
      </div>
    </div>
  </main>
  <footer id="footer" class="d-flex flex-column align-items-center">{% include "footer.html" %}</footer>

  <script>
    const menu_div = document.getElementById('display-anim');
    menu_div.classList.add('display-anim');
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
